Source: dh-golang
Section: devel
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Michael Stapelberg <stapelberg@debian.org>
Build-Depends: debhelper (>= 8.0.0), libmodule-install-perl
Standards-Version: 3.9.8
Vcs-Git: git://anonscm.debian.org/pkg-go/packages/dh-golang.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/dh-golang.git/

Package: dh-golang
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends},
         debhelper,
         libdpkg-perl,
         dpkg (>= 1.16.2)
Description: debhelper add-on for packaging software written in Go (golang)
 dh-golang provides a debhelper sequence addon named 'golang', a buildsystem
 module named 'golang' and a command called dh_golang.
 .
 The golang debhelper buildsystem is designed to make packaging programs
 written in Go very simple.
